* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
}

body {
  padding: 50px;
  color: #000;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 10px 0;
}

header .nav {
  font-weight: bold;
  margin: 0 10px;
}

main {
  height: 300px;
}

footer {
  padding: 10px;
  background-color: #efefef;
  border-top: 1px solid black;
}
